* {
	text-align: center;
	font-family: Arial;
}
*:focus {
	outline: 2px solid #66c;
}
::-moz-selection {
	background: lightgrey;
}
::selection {
	background: lightgrey;
}
h3 {
	letter-spacing: 2px;
	font-weight: normal;
	color: #66c;
	font-size: 150%;
}
a {
	color: #66c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input {
	padding: 0.25rem;
	font-size: 125%;
	border: 2px solid black;
}
canvas, input {
	box-shadow: 3px 3px 0px #66c;
}
.rule-canvas {
	border: 2px solid black;
	margin: 0.25rem;
	padding: 0.25rem;
}
.row-canvas {
	display: block;
	margin: auto;
	border: 2px solid black;
	border-bottom: 0;
}
.row-canvas ~ .row-canvas {
	border-top: 0;
}
.row-canvas:last-of-type {
	border-bottom: 2px solid black;
}