html {
	background-color: white;
}
body {
	margin: 0;
	padding: 1rem;	
}
* {
	text-align: center;
	font-family: Open Sans, Arial;
}
*:focus {
	outline: 2px solid #66c;
}
::-moz-selection {
	background: #eee;
}
::selection {
	background: #eee;
}
h3 {
	letter-spacing: 2px;
	font-weight: normal;
	color: #66c;
	font-size: 150%;
}
a {
	color: #66c;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
hr {
	background-color: black;
	border: 1px solid black;
	width: 60%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#modal details p, #modal details summary {
	margin-left: 1rem;
	text-align: left;
	font-size: smaller;
}
summary {
	cursor: pointer;
	margin-top: 0.5rem;
}
label {
	margin-right: 0.25rem;
	margin-left: 0.5rem;
}
input {
	font-size: 125%;
	padding: 0.25rem;
	margin: 0.25rem;
}
textarea {
	font-size: 75%;
	padding: 0.25rem;
	margin: 0.25rem;	
}
input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	width: 1rem;
	height: 1rem;
}
input[type=checkbox]:checked {
	background: url(../img/check.svg) no-repeat center center;
	background-size: 100%;
}
button, select {
	padding: 0.5rem;
	margin: 0.25rem;
	background-color: transparent;
	cursor: pointer;
}
button.small {
	padding: 0.25rem;
}
button:hover {
	background-color: black;
	color: white;
}
canvas, input:not([type=checkbox]), textarea {
	box-shadow: 2px 2px 0px #66c;
}
canvas, input, button, select, textarea {
	background-color: white;
	border: 2px solid black;
}
.rule-canvas {
	margin: 0.25rem;
	padding: 0.25rem;
}
.row-canvas {
	display: block;
	margin: auto;
	border-bottom: 0;
}
.row-canvas ~ .row-canvas {
	border-top: 0;
}
.row-canvas:last-of-type {
	border-bottom: 2px solid black;
}
#rule-num {
	font-weight: bold;
}
#display {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#raw-data {
	margin: 1rem 0.25rem;
	margin-left: auto;
	margin-right: auto;
	font-family: Courier New;
	display: none;
}
#copy-raw-data-btn, #download-raw-data-btn {
	display: none;
}

@media (max-width: 768px) {
	canvas, input, textarea {
		box-shadow: none;
	}
	.rule-canvas {
		margin: 0.125rem;
		padding: 0.125rem;
	}
	input, button, select, textarea {
		display: block;
		margin: 0.5rem auto;
	}
	#title {
		margin-top: 2rem;
	}
}
